#cardsection{
    display: flex;
}
#cardsection div{
    width: 25%;
    overflow: hidden;
    height: 240px;
}
#cardsection div img{
    width: 100%;
}
#cardsection div p{
    position: relative;
    bottom: 62px;
    color: white;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
}
#cardsection div img:hover{
    transform: scale(1.1);
    transition: 1s ease-in-out;
}
#Headersection1 ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}
#Headersection1{
    background-color: black;
    color: white;
    padding: 5px 5px;
}
.abc:hover{
    color: red;
}
#Imagesection img{
    width: 100%;
}
